@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  @apply font-poppins
}

.max-width {
  @apply  max-w-[72rem] mx-auto px-4
}

.rounded-top-right {
  border-radius: 0px 141px 0px 0px;
}


/* CSS For Hamburger Menu */
.hamburger{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #455CE9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}

.burger{
  width: 100%;
}
  .burger::after, .burger::before{
      content: "";
      display: block;
      height: 1px;
      width: 50%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
  }

  .burger::after{
      top: -5px;
  }

  .burger::before{
      top: 5px;
  }


  .burgerActive::after{
      transform: rotate(45deg);
      top: -1px;
  }

  .burgerActive::before{
      transform: rotate(-45deg);
      top: 0px;
  }

  .shape {
    background-image: url('./assets/images/shape.png');
    background-repeat: no-repeat;
    width : 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  /* banner shape  */
  .b-shape {
    background-image: url('./assets/images/banner-shape.jpg');
    background-position: left  !important;
    background-repeat: no-repeat !important;
  } 
  
  .b-shape2 {
    background-image: url('./assets/images/banner-shape.jpg');
  }



  


